body {
     font-family: Helvetica;
 }

h1 {
    text-align: center;
}


#console{
    padding: 10px;
    height: 300px;
    border: solid 1px #aaa;
    background-color: #000;
    color: #eee;
    font-family: monospace;
    overflow: auto;
}

#message{
    padding: 10px;
    height: 50px;
    border: solid 1px #aaaaaa;
    background-color: #ffff00;
    color: #000000;
    font-family: monospace;
    overflow: auto;
}

.incoming {
    background-color: #005599;
}

.outgoing {
    background-color: #8b008b;
}

.message-chat{
    background-color: #adff2f;
    color: #000000;
}